@model List<Product>;

<partial name="_Notification" />

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary"
                style="text-shadow:
            1px 1px 0 #ffffff,
            -1px -1px 0 #ffffff,
            1px -1px 0 #ffffff,
            -1px 1px 0 #ffffff;">
                Product List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Product
            </a>
        </div>
    </div>
</div>

<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Title</td>
                <td>@product.ISBN</td>
                <td>@product.Price</td>
                <td>@product.Author</td>
                <td>@product.Category.Name</td> <!-- Assuming Product has a navigation property to Category -->
                <td>
                    <div class="w-75 btn-group">
                    <a asp-controller="Product" asp-action="Upsert" asp-route-id="@product.Id" class="btn btn-outline-primary btn-sm">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    </div>
                    <div class="w-75 btn-group">
                        <form asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" method="post" style="display:inline;" id="delete-form-@product.Id">
                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="showDeleteConfirmation('@product.Id')">
                                <i class="bi bi-trash"></i> Delete
                            </button>
                        </form>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function showDeleteConfirmation(productId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                // If confirmed, submit the form
                document.getElementById('delete-form-' + productId).submit();
            }
        });
    }
</script>

